/*body*/

body {
    margin-top: 100px;
}


/*Footer*/

footer {
    background: #f8f8f8;
    border-top: 1px #e7e7e7 solid;
}

footer .unstyled,
footer h4 {
    display: inline-block;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}

footer .unstyled li {
    display: inline;
    list-style: none;
    margin-right: 10px;
}

@media (max-width: 767px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    /*
	Label the data
	*/
    td:before {
        content: attr(data-title);
    }
}
